.characters-container {
    display: flex;
    justify-content: center;
    margin: 1% 0 0;
}

.character-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 1%;
}

.character-panel h1 {
    font-family: 'Playfair Display', serif;
    z-index: 2;
    background-image: linear-gradient(to right, transparent, white, white, white, white, white, transparent);
    padding: 10px 80px;
    font-size: 36px;
}

.character-panel.blank-panel h1 {
    background-image: none;
}

.character-portrait {
    max-width: 100%;
    height: auto;
    margin-top: -20%;
}