.characters-container {
    display: flex;
    justify-content: center;
}

.character-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
}

.character-panel h1 {
    font-family: 'Playfair Display', serif;
    z-index: 2;
    background-image: linear-gradient(to right, transparent, white, white, white, white, white, transparent);
    padding: 10px 80px;
    font-size: 36px;
}

.character-panel.blank-panel h1 {
    background-image: none;
}

.character-portrait {
    max-width: 100%;
    height: auto;
    margin-top: -20%;
    z-index: -1;
    background-image: linear-gradient(to bottom, transparent, rgb(255, 255, 255));
}

.character-panel.blank-panel .character-portrait {
    background-image: none;
}






@media (max-width: 1200px) {
    .character-panel h1 {
        display: none;
    }
}

@media (max-width: 768px) {
    .character-portrait {
        position: absolute;
        bottom: 0;
    }
}