.gallery-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}






.gallery-set {
    display: flex;
}

.gallery-wrapper {
    position: relative;
    margin: 10px;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out;
    transform: scale(.9);
    opacity: 0.5;
}

.gallery-wrapper.active {
    cursor: pointer;
    transform: translateY(-.5em) scale(1.1);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    opacity: 1;
}

.gallery-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-wrapper.hidden {
    opacity: 0;
    width: 0;
    height: 0;
}






.gallery-select {
    display: flex;
    margin-bottom: 40%;
}

.gallery-select-item {
    position: relative;
    margin: 8px;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    opacity: 1;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.gallery-select-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}






.character-title {
    font-family: 'Playfair Display', serif;
    text-align: center;
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5), white, white, white, rgba(255, 255, 255, 0.5), transparent);
    padding: 1% 15%;
}






@media (max-width: 768px) {
    .gallery-side {
        margin-bottom: 75%;
    }

    .gallery-wrapper {
        width: 100px;
        height: 100px;
        margin: 10px 5px;
    }

    .character-title {
        font-size: 26px;
        padding: 1% 9%;
    }
}