.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* .top-side {
    margin-bottom: 7.5%;
} */

.character-title {
    font-family: 'Playfair Display', serif;
    text-align: center;
}