.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.character-reaction-wrapper {
    position: absolute;
    bottom: 0;
    z-index: -2;
}

.character-wrapper.animate-opacity {
    opacity: 0;
}

.character-reaction-wrapper.animate-opacity {
    opacity: 1;
}